.hidden_div{
	display:none;
}
.websiteText{
	font-size:19px;
}
.websiteText a{
    font-size:22px;
}
.detailsDiv{
    font-size:20px;
    line-height:1.5em;
}
.detailsDiv input[type="submit"]{
    margin-top:5px;
}
.openComments{
    cursor:pointer;
}
#listComment{
    display:none;
}
#backButton{
    margin:20px 0 0 10px;
}
.navbar-brand {
   font-size:30px;
}
.singleComment{
    width:400px;
    border-radius:5px;
    padding:2px 0 1px 10px;
    background-color:#e3e5e8;
    margin-left:20px;
    margin-top:5px;
}
#mainOl li{
    margin-bottom:20px;
    background-color:#f5f5f5;
    padding:7px;
    border-radius:5px;
}
#website_form{
    margin-bottom:5px;
}
.upvotes{
    color:green;
}
.downvotes{
    color:#ef2804;
}
.container{
    position:relative;
}
header{
    font-size:30px;
    color:#337ab7;
    text-align:center;
    padding:10px 10px 15px 10px;
}
#singleCommentDetail{
    font-size:15px;
}