<template name="mainTemplate">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                   Site Ace
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active navigation"><a id="popularNav" href="#">Popular</a></li>
                {{#if currentUser}}
                <li class="navigation" ><a id="suggestedNav" href="#">Suggested</a></li>
                <li class="navigation" ><a id="yourNav" href="#">Your websites</a></li>
                {{/if}}
            </ul>
            <p class="navbar-text">{{>loginButtons}}</p>
           <div class="navbar-form navbar-right" id="searchForm" role="search">
                <div class="form-group">
                    <input id="searchField" type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        {{>yield main}}
        <div id="noResults">
            <!--if there are no website results, the user will be notified through this div -->
        </div>
    </div>
</template>